.title{
    padding: 1.5em  1em 1em 1em ;
    width: 100%;
    h3{
        font-size: $fontRegularBigger;
        font-weight: normal;
        text-transform: uppercase;
        color: $color_corporativo_dark;
        margin: 0;
    }
}